<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--inicio bootstrap-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <!--fim bootstrap-->
  <link rel="stylesheet" href="style.css">

  <title>DESTINOS</title>
</head>

<body>
  <!--Início Navbar-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/" style>DESTINOS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">HOME <span class="sr-only">(Página
              atual)</span></a>
          <a class="nav-item nav-link" href="destinos">DESTINOS</a>
          <a class="nav-item nav-link" href="promocoes">PROMOÇÕES</a>
          <a class="nav-item nav-link" href="contato">CONTATO</a>
        </div>
      </div>
    </nav>
    <!--Fim Navbar-->

  </header>

  <main>

    <br><br>
    <h2>Viagens Nacionais</h2>
    <br><br>

    <section class="d-flex justify-content-center">

      <div class="card" style="width: 18rem; margin-right: 3%; margin-left: 5%;">
        <img class="card-img-top" src="./imagens/viagensnacionais/salvador.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Salvador</h5>
          <p class="card-text">Repleta de monumentos turísticos, praias maravilhosas, carnaval e com um povo acolhedor de sotaque contagiante a cidade chama atenção dos turistas<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <br>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/viagensnacionais/riodejaneiro.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Rio de Janeiro</h5>
          <p class="card-text">Conhecida pela beleza de suas praias e morros, além de ser um grande polo de turismo cultural, contemplada por diversos museus, teatros e casas de espetáculos<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/viagensnacionais/brasilia.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Brasilia</h5>
          <p class="card-text">Com construções surpreendem pelo modernismo, cheias de curvas e ângulos arrojados. Os principais monumentos e edificações diferenciadas encontram-se no Eixo Monumental, desta forma, fica muito fácil visitá-los em sequência<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/viagensnacionais/sao_paulo.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">São Paulo</h5>
          <p class="card-text">destaca-se mais pelo turismo de negócios que pelo turismo recreativo. Grandes redes de hotéis cujo público-alvo é o corporativo/empresarial estão instaladas na cidade e possuem filiais espalhadas em várias das suas centralidades.<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/viagensnacionais/fernando_de_noronha.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Fernando de Noronha</h5>
          <p class="card-text">Aproveitar as praias, fazer algumas trilhas, fazer passeios de barco, mergulhar, surfar e, claro, relaxar estão entre as principais atividades para fazer em Noronha.<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

    </section>

    <br><br>
    <h2>Viagens Internacionais</h2>
    <br><br>

    <section class="d-flex justify-content-center">

      <div class="card" style="width: 18rem; margin-right: 3%; margin-left: 5%;">
        <img class="card-img-top" src="./imagens/tailandia.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Bangkok, Tailândia</h5>
          <p class="card-text">A capital tailandesa mescla o melhor dos dois mundos, tem vida noturna e hotéis modernos, mas também oferece atrações tradicionais para quem curte visitar mercados locais e conhecer a cultura raiz e os costumes da população nativa<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <br>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/londres.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Londres, Reino Unido</h5>
          <p class="card-text">Com diversos espaços culturais, uma variedade infinita de restaurantes, bares e atrações, Londres continua atraindo turistas do mundo todo.<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/macau.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Macau, China</h5>
          <p class="card-text">Shows de luzes e água, pavilhões temáticos capazes de reproduzir cidades inteiras e uma gama de entretenimento fazem com que Macau mereça a comparação com Las Vegas<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/Paris.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">Paris, França</h5>
          <p class="card-text">A cidade possui os pontos turísticos mais visitados no mundo entre eles a icônica Torre Eiffel!. Uma visita só nunca é o suficiente para ver tudo de bom que há no Museu do Louvre e dar uma passadinha na Torre Eiffel nunca é demais.<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

      <div class="card" style="width: 18rem; margin-right: 3%;">
        <img class="card-img-top" src="./imagens/New York.jpg" alt="Imagem de capa do card">
        <div class="card-body">
          <h5 class="card-title">New York, EUA</h5>
          <p class="card-text">Os melhores museus do mundo, arranha-céus, monumentos históricos, parques urbanos, restaurantes badalados e muito mais.<p>
            <a href="#" class="btn btn-info">Visitar</a>
        </div>
      </div>

    </section>

  </main>

  <footer class="container-fluid bg-info mt-5" style="height: 100px !important;">
  </footer>

</body>

</html>